<app-header title="Users" btnText="Create User" link="/form"></app-header>
<div class="container">
    <div class="successMessage" *ngIf="showSuccessMessage"> 
        <i class="material-icons custom"> check_circle </i>
        <p>User successfully registered!</p>
    </div>
    <table *ngIf="!loading && users && !showErrorMessage">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone | phone}}</td>
        </tr>
    </table>
    <div class="warning" *ngIf="!loading && users.length <= 0 && !showErrorMessage">
        <i class="material-icons custom"> add_circle </i>
        <p>No user was found!</p>
    </div>
    <app-loading *ngIf="loading"></app-loading>
    <div class="error" *ngIf="showErrorMessage">
        <i class="material-icons custom"> cancel </i>
        <p>Unexpected error!</p>
    </div>
</div>