<app-header title="Users" btnText="Create User" link="/form"></app-header>
<div class="container">
    <div class="successMessage" *ngIf="showSuccessMessage"> 
        <i class="material-icons custom"> check_circle </i>
        <p>Usuário registrado com sucesso!</p>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone | phone}}</td>
        </tr>
    </table>
    <div *ngIf="!users.length">
        <span>Nenhum Usuário Cadastrado!</span>
    </div>
</div>