table {
    margin-top: 2vh;
    width: 75vw;
    border-spacing: 0;
    border: 5px solid var(--white);
}

tr:nth-child(even) {
    background-color: var(--primaryColor);
}

tr:nth-child(odd) {
    background-color: var(--secondaryColor);
}

th {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    color: var(--white);
}

td {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: var(--white);
}

p {
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    font-size: 16px;
}

.successMessage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    margin-top: 1vh;
    width: 50%;
    padding: 1vh;
    background-color: var(--darkGreen);
    color: var(--white);
    border: 2px solid var(--white);
}

.warning {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    margin-top: 1vh;
    width: 50%;
    padding: 1vh;
    background-color: var(--yellow);
    color: var(--white);
    border: 2px solid var(--white);
}

.error {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    margin-top: 1vh;
    width: 50%;
    padding: 1vh;
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
}